 

header {
    background: #1A202C;
    width: 100%;
    padding: 20px;
    height: 80px;
}

body {
    margin: 0;
    color: #1A202C;
    background: #CBD5E0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px 30px 15px;
}

a {
    color: #4299E1;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h1,
header {
    font-weight: bold;
}
